@keyframes slideout{
	0% {
		transform:translateY(-120%);
	}
	50% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes slidein{
	0% {
		transform: translateY(100%);
	}
	50% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(-120%);
	}
}
.stateContainer {
	display:flex;
	flex-direction:column;
	margin-bottom:.1rem;
	height:2rem;
	transition: all .3s ease-in;
	overflow-y: hidden;
	background-color: #d3d3ff;
}

.slideIn {
	animation: slidein;
	transition: all .3s ease-in;
	visibility:hidden;
	transform: translateY(-120%);
}

.slideOut{
	animation: slideout;
	transition: all .3s ease-in;
}

.slideOut > div {
	padding:5px 0;
	transition: all .3s ease-in;
}

.provinceContainer{
	padding:10px 0px;
	z-index:100;
	cursor: pointer;
}

.provinceContainer:hover {
	background-color: #8f9ac3;
}

.slideOut > div:hover {
	background-color:#8f9ac3;
	cursor: pointer;
}

.mainContainer{
	overflow-y: scroll;
	width:16%;
	height: 100%;
}

.upBtn{
	display: none;
}